<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
               <li>
                   <a href="~/">
                        <i class="fa-fa-dashboard"></i><span>Trang chủ</span>    
                   </a>
               </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i class="fa fa-industry"></i>Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i class="fa fa-users"></i>Khách Hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-truck"></i>Người giao hàng</a></li>
                    <li><a href="~/Employee"><i class="fa-solid fa-user-tie"></i> Nhân viên</a></li>
                    <li><a href="~/Category"><i class="fa fa-tags"></i>Loại hàng</a></li>
                    <li><a href="~/Product"><i class="fa fa-box"></i>Mặt hàng</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order"><i class="fa fa-clipboard-list"></i>Đơn hàng</a></li>
                    <li><a href="~/Order/Create"><i class="fa fa-cart-plus"></i>Lập đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>